{% extends 'base.html' %}

{% block content %}
<section class="section">
    <small>
        
    </small>
    <div class="card">
        <div class="card-body">
        <p>Atribut yang dibutuhkan !</p>
        <ul>
            <li>date ✅️</li>
            <li>close ✅️</li>
        </ul>
        <form action="{{ url_for('analisis_data') }}" method="post">
            <button type="submit" class="btn btn-primary">Analisis Data</button> 
        </form>
        </div>
    </div>
</section>
{% endblock %}